In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns


pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

import warnings
warnings.filterwarnings('ignore')

import gc
gc.collect()

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)


#model building
from sklearn.model_selection import train_test_split,KFold,cross_val_score,StratifiedKFold,GridSearchCV
from sklearn.metrics import mean_squared_log_error,accuracy_score,roc_auc_score, r2_score,mean_squared_error

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
import lightgbm 

from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [2]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")
train['gender']=np.where(train['gender']=='female',0,1)

In [3]:
train.head()

,session_id,startTime,endTime,ProductList,gender
0,u16159,15/12/14 18:11,15/12/14 18:12,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,0
1,u10253,16/12/14 14:35,16/12/14 14:41,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,1
2,u19037,01/12/14 15:58,01/12/14 15:58,A00002/B00001/C00020/D16944/,0
3,u14556,23/11/14 2:57,23/11/14 3:00,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,0
4,u24295,17/12/14 16:44,17/12/14 16:46,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,1

In [4]:
test.head()

,session_id,startTime,endTime,ProductList
0,u12112,08/12/14 13:36,08/12/14 13:36,A00002/B00003/C00006/D19956/
1,u19725,19/12/14 13:52,19/12/14 13:52,A00002/B00005/C00067/D02026/
2,u11795,01/12/14 10:44,01/12/14 10:44,A00002/B00002/C00004/D12538/
3,u22639,08/12/14 20:19,08/12/14 20:22,A00002/B00003/C00079/D22781/;A00002/B00003/C00...
4,u18034,15/12/14 19:33,15/12/14 19:33,A00002/B00001/C00010/D23419/

In [5]:
train['startTime']=pd.to_datetime(train['startTime'])
train['endTime']=pd.to_datetime(train['endTime'])
train['totalTime'] = (train['endTime']-train['startTime'])/np.timedelta64(1,'s')
train['dayName']=train['startTime'].dt.weekday_name
train['dayHour']=train['startTime'].dt.hour
train['totalTime']=train['totalTime'].abs()

test['startTime']=pd.to_datetime(test['startTime'])
test['endTime']=pd.to_datetime(test['endTime'])
test['totalTime'] = (test['endTime']-test['startTime'])/np.timedelta64(1,'s')
test['dayName']=test['startTime'].dt.weekday_name
test['dayHour']=test['startTime'].dt.hour
test['totalTime']=test['totalTime'].abs()

In [6]:
q1=train['totalTime'].quantile(0.25)
q2=train['totalTime'].quantile(0.75)
iqr=q2-q1
upper_bound=q2+1.5*(iqr)
lowerbound=q1-1.5*(iqr)

train['totalTime']=np.where(train['totalTime']>upper_bound,upper_bound,train['totalTime'])
test['totalTime']=np.where(test['totalTime']>upper_bound,upper_bound,test['totalTime'])

In [7]:
train.startTime.min(),train.startTime.max(),

(Timestamp('2014-01-12 00:07:00'), Timestamp('2014-12-22 23:54:00'))

In [8]:
train.head()

,session_id,startTime,endTime,ProductList,gender,totalTime,dayName,dayHour
0,u16159,2014-12-15 18:11:00,2014-12-15 18:12:00,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,0,60.0,Monday,18
1,u10253,2014-12-16 14:35:00,2014-12-16 14:41:00,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,1,300.0,Tuesday,14
2,u19037,2014-01-12 15:58:00,2014-01-12 15:58:00,A00002/B00001/C00020/D16944/,0,0.0,Sunday,15
3,u14556,2014-11-23 02:57:00,2014-11-23 03:00:00,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,0,180.0,Sunday,2
4,u24295,2014-12-17 16:44:00,2014-12-17 16:46:00,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,1,120.0,Wednesday,16

In [9]:
# train[train['dayName']=='Friday'].groupby(['gender'])['dayHour'].plot(kind='hist',bins=np.arange(0,24,1))
# plt.show()

In [10]:
# t = train.groupby(['dayName','gender']).size().unstack()
# t.columns=['female','male']
# t['female_per']=t['female']/t.sum(axis=1)
# t['male_per']=t['male']/t.sum(axis=1)
# t

# train.groupby(['gender'])['dayHour'].plot(kind='hist')
# plt.show()

In [11]:
#CHECKING CATEGORY WISE DISTRIBUTION
text=''
for t in train.ProductList:
    text+=t
category = list(set(re.findall(r'A[0-9]+',text)))

df = train.copy()
for name in category:
    df[name]=np.nan
    df[name]=np.nan

def categoryVerify(x,name):
    check=list(set(re.findall(r'A[0-9]+',x)))
    if name in check:
        return 1
    else:
        return 0

for name in category:
    df[name]=df['ProductList'].apply(lambda x: categoryVerify(x,name))

    
cols=category
cols.append('gender')
df=df[cols]
t=df.groupby(['gender']).agg('sum')
t.T

gender     0     1
A00006    97    22
A00009    20    11
A00005   192    41
A00001   392  1269
A00003  1508   152
A00010    22    33
A00008    13    11
A00002  6139   759
A00007    19    10
A00004    52    97
A00011    39    15

In [12]:
#CHECKING SUBCATEGORY WISE DISTRIBUTION
text=''
for t in train.ProductList:
    text+=t
subCategory = list(set(re.findall(r'B[0-9]+',text)))

df = train.copy()
for name in subCategory:
    df[name]=np.nan
    df[name]=np.nan

def subCategoryVerify(x,name):
    check=list(set(re.findall(r'B[0-9]+',x)))
    if name in check:
        return 1
    else:
        return 0

for name in subCategory:
    df[name]=df['ProductList'].apply(lambda x: subCategoryVerify(x,name))

    
cols=subCategory
cols.append('gender')
df=df[cols]
t=df.groupby(['gender']).agg('sum')
t.T

gender     0    1
B00001  1089  569
B00048     4    0
B00022   324   35
B00089     1    0
B00072     1    0
B00050    23    5
B00003  1408  183
B00055     6    5
B00042     1    4
B00074     0    1
B00012   785   62
B00063     2    2
B00060    12    3
B00046     1    1
B00023    14    2
B00064     2    0
B00007   648   74
B00052     2    3
B00065    10    2
B00018    22    1
B00016   228   43
B00062     1    6
B00049     1    4
B00017   179   19
B00035    16    7
B00002  2481  222
B00004   554  264
B00076     2    0
B00090     0    1
B00036    31    2
B00091     0    1
B00008     7    0
B00058     7    0
B00010    19    4
B00027     5   39
B00056     8    6
B00039    13    0
B00034     9    3
B00037    17   42
B00069     1   13
B00079     3    0
B00030     9    2
B00077    10    4
B00031    41  196
B00078     0    1
B00014    38   63
B00051    14    6
B00083     0    1
B00038     2    1
B00080     1    0
B00024    10    2
B00006   187   14
B00020   110    5
B00059     5    2
B00021   129    7
B00057    29    5
B00009   109  317
B00075     2    0
B00043     0    7
B00067     1    0
B00040     6    0
B00013    13   33
B00019    71    6
B00054     2    8
B00041    10    6
B00005   306   26
B00082     0    1
B00015    48  246
B00073     2    0
B00070     8    2
B00028    62   10
B00044    27   14
B00053    22    5
B00026    41   24
B00029    13    7
B00032    36    2
B00033     2    1
B00061     2    0
B00025    11    2
B00045    11    2
B00085     0    1
B00047     3    1
B00011    51   21
B00066     5    3
B00071     2    1

In [13]:
#CHECKING subSubCategory WISE DISTRIBUTION
text=''
for t in train.ProductList:
    text+=t
subSubCategory = list(set(re.findall(r'C[0-9]+',text)))

df = train.copy()
for name in subSubCategory:
    df[name]=np.nan
    df[name]=np.nan

def subSubCategoryVerify(x,name):
    check=list(set(re.findall(r'C[0-9]+',x)))
    if name in check:
        return 1
    else:
        return 0

for name in subSubCategory:
    df[name]=df['ProductList'].apply(lambda x: subSubCategoryVerify(x,name))

    
cols=subSubCategory
cols.append('gender')
df=df[cols]
t=df.groupby(['gender']).agg('sum')
t.T

gender     0    1
C00137     5    4
C00260     1    0
C00216     1    1
C00148    20    1
C00046   186   24
C00192     6    0
C00134    15    1
C00377     2    0
C00252     3    0
C00115    12    1
C00088    11    5
C00401     1    0
C00301     0   11
C00142     1    1
C00239     2    0
C00082     4   38
C00219     0    2
C00193     1    0
C00087    11    7
C00329     6    0
C00423     1    0
C00024    88    5
C00266     7    2
C00424     1    0
C00059   273   47
C00208     3    0
C00291     6    1
C00226     2    0
C00430     0    1
C00310     2    0
C00164     7    1
C00294     0    1
C00101     0    1
C00207     4    0
C00410     3    0
C00200     2    0
C00027    35    4
C00067    58    1
C00384     1    0
C00010   324   42
C00132     4   25
C00183     7    0
C00186     6   44
C00337     5    1
C00081    77    3
C00045    79    3
C00232     1    2
C00126     1    3
C00264     4    0
C00017    75   25
C00184    18    8
C00119     1    1
C00113    23   23
C00228     3    1
C00071    19    4
C00349     1    0
C00248    17    0
C00097    11    1
C00199     1    1
C00106     6    0
C00150    66   10
C00011    33    5
C00240     1    0
C00171    14    9
C00154     5    7
C00116    10    3
C00189     3    0
C00220     5    0
C00077     2    0
C00358     1    0
C00050     3    0
C00206     0    4
C00342     4    0
C00136     2    0
C00158     0    3
C00146     2    1
C00100    27    1
C00162     2    0
C00182     1   47
C00073    54    8
C00300     0    1
C00318     1    3
C00055    58    3
C00083    13   16
C00032    56   83
C00271     1    0
C00413     0    1
C00130    11   22
C00429     0    1
C00145    10    6
C00147     2    4
C00074   144   13
C00196     1   15
C00195     2    1
C00062     3    4
C00123   107   13
C00381     1    0
C00103     7   25
C00013    96    7
C00178    17    3
C00218     4    0
C00157    12    3
C00161    17    4
C00395     0    2
C00029    12   34
C00270     0    2
C00320     1    1
C00362     2    0
C00363     1    0
C00382     1    1
C00015   106    8
C00138     5    0
C00225     2    0
C00040     9    2
C00095    13    1
C00008    35    2
C00014   371   32
C00078     3    3
C00287     0    2
C00323     2    0
C00204     1    0
C00355     1    1
C00070    34    5
C00114    14    5
C00069    21    2
C00281     2    0
C00418     2    0
C00125    35    1
C00391     1    0
C00284     1    2
C00276     3    1
C00283     1    0
C00367     2    0
C00002   593   57
C00326     0    2
C00319     0    2
C00141     0    1
C00288     2    0
C00030    94    7
C00313     0    1
C00378     0    1
C00290     1    1
C00175     3    0
C00351     5    0
C00007  1108   87
C00198     3    0
C00234     3    1
C00432     1    0
C00016   251   27
C00085     9    0
C00289     5    1
C00411     0    1
C00350     2    0
C00120     6    0
C00035     2    1
C00254     1    2
C00111     0    2
C00298    12    0
C00336     0    1
C00152    38    3
C00128     4    0
C00107     2    0
C00102    16   13
C00180    13    3
C00250     0    1
C00179    24    6
C00124     1    0
C00245    12    1
C00322     3    0
C00166     9    0
C00412     1    0
C00217     2    1
C00295     0    1
C00231     4    1
C00049   100   35
C00065     0    1
C00131    48   10
C00064    74    4
C00063    32   10
C00057    94   20
C00133     7    3
C00279     1    0
C00167     4    0
C00151     0    1
C00021   177   42
C00331     2    1
C00185     1    1
C00190     5    1
C00093    24   26
C00409     0    1
C00365     1    1
C00278     1    0
C00018   219   26
C00315     0    2
C00197    12    0
C00370     2    0
C00009   244   24
C00001    13   98
C00033    36    4
C00277     1    0
C00094    25    1
C00034     5    2
C00241     1    1
C00165     6    1
C00187     1    2
C00099     1    1
C00398     0    3
C00112    52    6
C00105     5    1
C00042     8   53
C00048   372   38
C00023    33    2
C00006   458   40
C00031     5   31
C00406     1    0
C00037    82   15
C00376    10    0
C00091    30   58
C00202     2   13
C00028   176  147
C00205     0    5
C00108     5    1
C00253     2    4
C00210     6    2
C00076     4    1
C00026     5    0
C00176     1    0
C00325     1    0
C00390     0    1
C00060    16    3
C00280     1    2
C00019    87  150
C00211     8    1
C00222     1    1
C00044    87  134
C00257     4    0
C00344     1    0
C00229     2    8
C00086     4    1
C00360     2    0
C00302     1    1
C00038    22   32
C00039     2    1
C00041    12   13
C00230     0    1
C00221     9    0
C00022    55    9
C00191     1    0
C00399     0    1
C00201     5    0
C00012   135   78
C00061    24    9
C00135    19   26
C00436     0    1
C00005   355   57
C00371     1    0
C00215     4    0
C00244    10    3
C00372     2    0
C00246     1    0
C00282     1    0
C00272     2    0
C00256     0    1
C00144     2    2
C00224    14    2
C00170    12    3
C00361     2    0
C00249     8    2
C00066    87  111
C00051   384   31
C00427     2    0
C00122     5    7
C00177    25   12
C00327     0    6
C00238     3   11
C00153     2    0
C00296     2    1
C00263     2    0
C00163     1    7
C00129    12    0
C00415     0    1
C00117     0    3
C00389     1    0
C00286    10    0
C00339     1    0
C00386     1    0
C00396     3    1
C00255     9    1
C00341     5    3
C00056    55    2
C00356     1    0
C00194     1    2
C00079    93   31
C00385     1    0
C00155    22    2
C00169     1    0
C00403     0    1
C00273     4    1
C00043    23   90
C00174     1    2
C00025     3    0
C00118     1    0
C00269     3    0
C00036   150   15
C00312     4    0
C00096    41   21
C00075    73   56
C00098    49   63
C00213     2    3
C00304     0    1
C00346     5    0
C00003   593   48
C00309     0    1
C00173    15    5
C00109     5   20
C00348     1    0
C00305     1    0
C00352     1    0
C00299     3    1
C00092     6   37
C00247    10    1
C00407     2    0
C00235     0    1
C00306     7    0
C00353     6    0
C00080     1    5
C00054    25    0
C00209     4    1
C00388     2    0
C00058    52    1
C00334     1    0
C00317     1    0
C00127    71    7
C00237     1    0
C00020    84   81
C00324     6    0
C00052    90    2
C00275     1    0
C00004   220   36
C00143     0    7
C00308     4    2
C00139    36    6
C00258     1    0
C00181     1    0
C00104     4    1
C00303     0    2
C00140     4    1
C00397     1    0
C00435     0   13
C00268     0    2
C00212    13    5
C00416     0    3
C00265     1    0
C00160     0    2
C00047     7    0
C00293     5    0
C00053   164   21
C00110    16    0
C00089    45    4
C00068     2    1

In [14]:
text=''
for t in train.ProductList:
    text+=t
category = list(set(re.findall(r'A[0-9]+',text)))
subCategory = list(set(re.findall(r'B[0-9]+',text)))
subSubCategory = list(set(re.findall(r'C[0-9]+',text)))
product = list(set(re.findall(r'D[0-9]+',text)))


def catCount(x):
    n=len(re.findall(r'A[0-9]+',x))
    return n
def subCatCount(x):
    n=len(re.findall(r'B[0-9]+',x))
    return n
def subSubCatCount(x):
    n=len(re.findall(r'C[0-9]+',x))
    return n
def productCount(x):
    n=len(re.findall(r'D[0-9]+',x))
    return n

# train['numCategory']=train['ProductList'].apply(lambda x: catCount(x))
# train['numSubCategory']=train['ProductList'].apply(lambda x: subCatCount(x))
# train['numSubSubCategory']=train['ProductList'].apply(lambda x: subSubCatCount(x))
train['productCount']=train['ProductList'].apply(lambda x: productCount(x))

# test['numCategory']=test['ProductList'].apply(lambda x: catCount(x))
# test['numSubCategory']=test['ProductList'].apply(lambda x: subCatCount(x))
# test['numSubSubCategory']=test['ProductList'].apply(lambda x: subSubCatCount(x))
test['productCount']=test['ProductList'].apply(lambda x: productCount(x))

train['productTime'] = train['totalTime']/train['productCount']
test['productTime'] = test['totalTime']/test['productCount']

In [15]:
for name in category:
    train[name]=np.nan
    test[name]=np.nan

def catVerify(x,name):
    products=list(re.findall(r'A[0-9]+',x))
    if name in products:
        return products.count(name)
    else:
        return 0
    
for name in category:
    train[name]=train['ProductList'].apply(lambda x: catVerify(x,name))
    test[name]=test['ProductList'].apply(lambda x: catVerify(x,name))

#_____________________________________________________________________________
for name in subCategory:
    train[name]=np.nan
    test[name]=np.nan

def subCatVerify(x,name):
    products=list(re.findall(r'B[0-9]+',x))
    if name in products:
        return products.count(name)
    else:
        return 0
    
for name in subCategory:
    train[name]=train['ProductList'].apply(lambda x: subCatVerify(x,name))
    test[name]=test['ProductList'].apply(lambda x: subCatVerify(x,name))
    
    
#_____________________________________________________________________________
for name in subSubCategory:
    train[name]=np.nan
    test[name]=np.nan

def subSubCatVerify(x,name):
    products=list(re.findall(r'C[0-9]+',x))
    if name in products:
        return products.count(name)
    else:
        return 0
    
for name in subSubCategory:
    train[name]=train['ProductList'].apply(lambda x: subSubCatVerify(x,name))
    test[name]=test['ProductList'].apply(lambda x: subSubCatVerify(x,name))

In [16]:
train=pd.get_dummies(train,columns=['dayName'])
test=pd.get_dummies(test,columns=['dayName'])

In [17]:
X=train[[col for col in train.columns if col not in (['session_id','startTime','endTime','ProductList','gender',
                                                     ])]]
text = " ".join(X.columns)
# extra_col = list(set(re.findall(r'[C][0-9]+',text)))
# X = X[[col for col in X.columns if col not in extra_col]]
y=train.gender

test_=test.copy()
test_=test_[X.columns]

In [19]:
skf=StratifiedKFold(n_splits=10)
cv_score = []

lgb=lightgbm.LGBMClassifier(boosting_type='gbdt', 
                      objective='binary',
                      num_iteration=3000,
                      learning_rate=0.01,
                      max_depth=5,
                      colsample_bytree=0.9,
                      reg_alpha=0.0,
                      reg_lambda=0.0)
rfc=RandomForestClassifier(n_estimators=500)
lr=LogisticRegression(C=2)
xgb = XGBClassifier(n_estimators=1000,
                    max_depth=3,
                    learning_rate=0.1)

clfs=[xgb,lgb,rfc]


cols= ['xgb','lgb','rfc']
final=pd.DataFrame(columns=cols)
i=0
for clf_ in clfs:

    pred_test =np.zeros((len(test_),1))

    for train_index,test_index in skf.split(X,y):
        x_train,x_val = X.iloc[train_index],X.iloc[test_index]
        y_train,y_val = y.iloc[train_index],y.iloc[test_index]
        clf = clf_
        clf.fit(x_train,y_train)
        score = accuracy_score(y_val,clf.predict(x_val))
        cv_score.append(score)
        print(round(score,3),end=",")

        pred_test += clf.predict_proba(test_)[:,1].reshape(-1,1)
    pred_test=pred_test/10 
    final[cols[i]]=pred_test[:,0]
    i+=1
    print("\nmean_score: ",round(np.mean(cv_score),3))

0.882,0.875,0.87,0.856,0.882,0.867,0.879,0.864,0.888,0.867,
mean_score:  0.873
0.887,0.874,0.87,0.852,0.886,0.869,0.879,0.863,0.886,0.858,
mean_score:  0.873
0.861,0.856,0.841,0.84,0.854,0.841,0.849,0.849,0.871,0.852,
mean_score:  0.866

In [20]:
final['overall']=final.sum(axis=1)/3
final.head()

        xgb       lgb       rfc   overall
0  0.130294  0.128927  0.128694  0.129305
1  0.089075  0.092885  0.022718  0.068226
2  0.117222  0.122967  0.118803  0.119664
3  0.122508  0.156704  0.117200  0.132137
4  0.228066  0.224683  0.203141  0.218630

In [21]:
temp=test.copy()
temp['prob']=final.overall
temp['gender']=np.where(temp['prob']>=0.5,'male','female')
temp.index=temp.session_id
temp=temp[['gender']]
temp.to_csv('try6.csv')
temp.head()

            gender
session_id
u12112      female
u19725      female
u11795      female
u22639      female
u18034      female